{%- if license == 'GPL-3.0' or license == 'GPL-3.0-or-later' -%}
{% include 'licenses/gpl-3.0.jinja' %}
{%- elif license == 'AGPL-3.0' or license == 'AGPL-3.0-or-later' -%}
{% include 'licenses/agpl-3.0.jinja' %}
{%- elif license == 'LGPL-3.0' or license == 'LGPL-3.0-or-later' -%}
{% include 'licenses/gpl-3.0.jinja' %}
{%- endif -%}
