{%- if license == 'MIT' -%}
{% include 'licenses/mit.jinja' %}
{%- elif license == 'BSD-2-Clause' -%}
{% include 'licenses/bsd-2-clause.jinja' %}
{%- elif license == 'BSD-3-Clause' -%}
{% include 'licenses/bsd-3-clause.jinja' %}
{%- elif license == 'Apache-2.0' -%}
{% include 'licenses/apache-2.0.jinja' %}
{%- endif -%}
