# Project Structure

This file defines the overall architecture of the project. For detailed instructions on how to make changes or test, see [task-guideline.md](task-guideline.md).

{% include 'languages/' ~ language ~ '/project-structure.md.jinja' %}
## Project-specific

<!-- Project-specific -->
